<div class="wrapper wrapper-content animated fadeInRight">

    <form role="form" class="form-horizontal clearfix" >

        <div class="col-lg-4 col-sm-6">
            <div class="form-group">
                <label class="col-lg-4 control-label">商户对账状态</label>
                <div class="col-lg-8">
                    <ui-select name="status" ng-model="formData.status" theme="bootstrap">
                        <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                        <ui-select-choices repeat="item in merchantStateMentStatuList" >
                            <div ng-bind="item.text "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group">
                <label class="col-lg-3 control-label" style="margin-left: -3%">商户名称</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" placeholder="商户名称"  ng-model="formData.merchantName" />
                </div>
            </div>
        </div>
        <!--<div class="col-lg-4 col-sm-6">
            <div class="form-group">
                <label class="col-lg-4 control-label">导出状态</label>
                <div class="col-lg-8">
                    <ui-select name="exportStatu" ng-model="formData.exportStatu" theme="bootstrap">
                        <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                        <ui-select-choices repeat="item in exportStatuList" >
                            <div ng-bind="item.text "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>-->

        <div class="col-lg-8 col-sm-12">
            <div class="form-group">
                <label class="col-lg-2 control-label">对账日期</label>
                <div class="col-sm-4">
                    <input date-range-picker options="singleDateSettings"  name="dateRange1Start" max="formData.endDate.startDate"
                           class="form-control date-picker" type="text" ng-model="formData.startDate" />
                </div>
                <label class="pull-left control-label">至</label>
                <div class="col-sm-4">
                    <input date-range-picker options="singleDateSettings"  name="dateRange1End" min="formData.startDate.startDate"
                           class="form-control date-picker" type="text" ng-model="formData.endDate" />
                </div>
            </div>
        </div>

        <div class="col-lg-2 pull-right">
            <button class="btn btn-primary " type="button" ng-click="search()">查询</button>
            <button class="btn btn-primary " type="button" ng-click="exportExcel()">导出</button>
        </div>
    </form>

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>对账单-经销</h5>
        </div>
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>

</div>