<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">售后详情</h4>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
            <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body">
        <table dt-options="dtOptions" class="table table-bordered table-hover full-width">
            <colgroup>
                <col width="20%" />
                <col width="30%" />
                <col width="20%" />
                <col width="30%" />
            </colgroup>
            <tbody>
            <tr>
                <td class="text-right">产品类型 :</td>
                <td class="text-left">{{ productTypeName}}</td>
            </tr>
            <tr>
                <td class="text-right">产品名称 :</td>
                <td class="text-left">{{ productInfo.name}}</td>
            </tr>
            <tr>
                <td class="text-right">产品规格 :</td>
                <td class="text-left">{{ productInfo.specification }}</td>
            </tr>
            <tr>
                <td class="text-right">产品数量 :</td>
                <td class="text-left">{{productNumber}}</td>
            </tr>
            <tr ng-repeat="sn in detailAfterOrderData.snList">
                <td class="text-right">{{sn.name}}</td>
                <td class="text-left">{{sn.sn}}     {{sn.deviceAfterReason}}</td>
            </tr>
            <tr>
                <td class="text-right">实际签收SN数量 :</td>
                <td class="text-left">{{signQuantity}}</td>
            </tr>
            <tr ng-repeat="signInfo in detailAfterOrderData.signInfo">
                <td class="text-right">{{signInfo.name}}</td>
                <td class="text-left">{{signInfo.sn}}</td>
            </tr>
            <tr>
                <td class="text-right">售后类型 :</td>
                <td class="text-left">{{ detailAfterOrderData.type }}</td>
            </tr>
            <tr>
                <td class="text-right">售后原因 :</td>
                <td class="text-left">{{ detailAfterOrderData.reason }}</td>
            </tr>
            <tr>
                <td class="text-right">联系人 :</td>
                <td class="text-left">{{ detailAfterOrderData.logistics.receiveAddress.name }}/{{
                    detailAfterOrderData.logistics.receiveAddress.mobile }}</td>
            </tr>
            <tr>
                <td class="text-right">收货地址 :</td>
                <td class="text-left">{{ detailAfterOrderData.logistics.receiveAddress.provinceName }}{{
                    detailAfterOrderData.logistics.receiveAddress.cityName }}{{ detailAfterOrderData.logistics.receiveAddress.areaName
                    }}{{ detailAfterOrderData.logistics.receiveAddress.address }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>