<div class="inmodal">
    <div class="modal-header">
        <label class="col-lg-3 control-label">驳回申请:</label>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
            <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="tabs-container">
            <form role="form" class="form-horizontal form-fixed form-fixed-6" novalidate name="reject_form"
                  method="post"
                  enctype="multipart/form-data">
                <p class="modal-title">请填写驳回申请理由:</p>
                <div class="form-group">
                    <label class="col-lg-3 control-label required">驳回理由</label>
                    <div class="control-content">
                        <div class="row">
                            <div class="col-lg-10">
                                <textarea class="form-control" ng-required="true" name="reject" cols="200" check-length="200" ng-model="ReturnDownData.reject" maxlength="200" style="height: 100px" required></textarea>
                                <div class="m-t-xs" ng-show="reject_form.reject.$invalid && reject_form.submitted">
                                    <small class="text-danger" ng-show="reject_form.reject.$error.required">请输入驳回理由</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" ng-switch="curTabIndex">
        <button type="submit" class="btn btn-primary" ng-click="ok();">确定</button>
        <button type="button" class="btn btn-white" ng-click="cancel();">取消</button>
    </div>
</div>