<div class="wrapper wrapper-content animated fadeInRight">

    <form role="form" class="form-horizontal clearfix" name="supplychain_form">
        <div class="row col-lg-8 col-sm-11 col-xs-10 justified">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">物料名称/编号</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="物料名称/编号" name="searchKey" ng-model="formData.materialInfo" />
                    </div>
                </div>
            </div>
             <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品名称/编号</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="产品名称/编号" name="searchKey" ng-model="formData.productInfo"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">业务类型</label>
                    <div class="col-lg-8">
                        <ui-select name="status" ng-model="formData.serviceType" theme="bootstrap">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item in serviceTypeList" >
                                <div ng-bind="item.text "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">来源</label>
                    <div class="col-lg-8">
                        <ui-select name="status" ng-model="formData.source" theme="bootstrap">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item in sourceList" >
                                <div ng-bind="item.text "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-lg-2 pull-right">
            <div class="form-group">
                <button class="btn btn-primary " style="margin-right: 15px" type="button" ng-click="search()">查询</button>
                <!--<button class="btn btn-primary " style="margin-right: 15px" type="button" ng-click="search()">下单</button>-->
            </div>
        </div>

    </form>

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>产品列表</h5>
        </div>
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>

</div>