<div class="wrapper wrapper-content animated fadeInRight">
    <form role="form" class="form-horizontal clearfix" >

        <div class="col-lg-6 col-sm-6">
            <div class="form-group" style="margin-left:-3%;">
                <label class="col-lg-3 control-label" style="margin-left: -3%" >产品名称</label>
                <div class="col-lg-5">
                    <input type="text" style="width: 105%;" class="form-control" placeholder="产品名称"  ng-model="formData.productName" />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group" style="margin-left: -60%">
                <label class="col-lg-3 control-label" style="margin-left: -3%">商户名称</label>
                <div class="col-lg-5">
                    <input type="text" style="width: 65%;" class="form-control" placeholder="商户名称"  ng-model="formData.merchantName" />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group" style="margin-left: -7%;">
                <label class="col-lg-3 control-label">产品类型</label>
                <div class="col-lg-5">
                    <ui-select name="type" ng-model="formData.type" theme="bootstrap">
                        <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                        <ui-select-choices repeat="item in typeIdList" >
                            <div ng-bind="item.text "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-sm-12">
            <div class="form-group">
                <label class="col-lg-2 control-label">发货日期</label>
                <div class="col-sm-4">
                    <input date-range-picker options="singleDateSettings"  name="dateRange1Start" max="formData.endDate.startDate"
                           class="form-control date-picker" type="text" ng-model="formData.startDate" />
                </div>
                <label class="pull-left control-label">至</label>
                <div class="col-sm-4">
                    <input date-range-picker options="singleDateSettings"  name="dateRange1End" min="formData.startDate.startDate"
                           class="form-control date-picker" type="text" ng-model="formData.endDate" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 pull-right">
            <button class="btn btn-primary " type="button" ng-click="search()">查询</button>
        </div>
    </form>

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>销售管理</h5>
        </div>
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>

</div>