<div class="wrapper wrapper-content animated fadeInRight">

    <form role="form" class="form-horizontal clearfix" name="disSpl_form">
        <div class="row col-lg-8 col-sm-11 col-xs-10 justified">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">销售组</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="销售组编码/销售组名称" name="searchKey"  ng-model="formData.saleGroup" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">物料</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="物料编码/物料名称" name="searchKey" ng-model="formData.materiel" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">客户</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="客户编码/客户名称" name="searchKey" ng-model="formData.customer" />
                    </div>
                </div>
            </div> 
            
            <div class="col-lg-6 col-sm-6">
            <div class="form-group">
                <label class="col-lg-4 control-label" style="margin-left: 0%">系统工单号</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="系统工单号"  ng-model="formData.workOrder" />
                </div>
            </div>
        </div>
            
            <div class="col-lg-6 col-sm-6">
	            <div class="form-group" style="margin-left: 9%; margin-right:0%">
	                <label class="col-lg-3 control-label">对账单类别</label>
	                <div class="col-lg-8">
	                    <ui-select name="workType" ng-model="formData.workType" theme="bootstrap">
	                        <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
	                        <ui-select-choices repeat="item in workTypeList" >
	                            <div ng-bind="item.text "></div>
	                        </ui-select-choices>
	                    </ui-select>
	                </div>
	            </div>
        	</div>

            <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">日期</label>
                    <div class="col-sm-4">
                        <input date-range-picker options="singleDateSettings"  name="dateRange1Start" max="formData.endDate.startDate"
                               class="form-control date-picker" type="text" ng-model="formData.startDate" />
                    </div>
                    <label class="pull-left control-label">至</label>
                    <div class="col-sm-4">
                        <input date-range-picker options="singleDateSettings"  name="dateRange1End" min="formData.startDate.startDate"
                               class="form-control date-picker" type="text" ng-model="formData.endDate" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-2 pull-right">
            <button class="btn btn-primary " style="margin-right: 15px" type="button" ng-click="search()">查询</button>
            <button class="btn btn-primary " type="button" ng-click="exportExcel()">导出</button>
        </div>
    </form>

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>经销拆分结果</h5>
        </div>
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>

</div>