<div class="wrapper wrapper-content animated fadeInRight">

    <form role="form" class="form-horizontal clearfix" name="supplychain_form">
        <div class="row col-lg-8 col-sm-11 col-xs-10 justified">

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">设备类型</label>
                    <div class="col-lg-8">
                        <ui-select name="devTypeId" ng-model="form.devTypeId" id="devTypeId" theme="bootstrap">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item in deviceTypeList" >
                                <div ng-bind="item.text"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label class="col-lg-4 control-label">设备类型编号</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="请输入" name="attrib_code" ng-model="form.attribCode" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 pull-right">
            <button class="btn btn-primary " style="margin-right: 15px" type="button" ng-click="search()">查询</button>
            <button class="btn btn-primary " type="button" ng-click="addAttribs()">新建设备配置</button>
        </div>

    </form>

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>设备配置列表</h5>
        </div>
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>
</div>