<div class="wrapper wrapper-content animated fadeInRight">
    

    <div class="ibox float-e-margins relative">
        <div class="ibox-title">
            <h5>对账单-金融风控解析工具</h5>
        </div>
        	
        <form role="form" class="form-horizontal clearfix" >
        	<div class="col-lg-3 pull-left">           
            	<button class="btn btn-primary " type="button" ng-click="putInHouse()">导入解析文件</button>           
        	</div>
    	</form>	
        
        <div class="ibox-content">
            <div process-datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
            </div>
        </div>
    </div>

</div>